USE [master]
GO
/****** Object:  Database [Trell_Api]    Script Date: 09/10/2020 21:24:19 ******/
CREATE DATABASE [Trell_Api]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trell_Api', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER02\MSSQL\DATA\Trell_Api.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trell_Api_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER02\MSSQL\DATA\Trell_Api_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trell_Api].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trell_Api]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 09/10/2020 21:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [int] NOT NULL,
	[timeId] [int] NOT NULL,
	[numberOfTickets] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 09/10/2020 21:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[id] [int] NOT NULL,
	[name] [varchar](30) NOT NULL,
	[movieDesc] [varchar](50) NULL,
	[movieDirector] [varchar](30) NULL,
	[movieDuration] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[timings]    Script Date: 09/10/2020 21:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timings](
	[id] [int] NOT NULL,
	[name] [varchar](30) NOT NULL,
	[startTime] [datetimeoffset](7) NULL,
	[endTime] [datetimeoffset](7) NULL,
	[price] [int] NOT NULL,
	[totalTickets] [int] NOT NULL,
	[availableTickets] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TodoItems]    Script Date: 09/10/2020 21:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TodoItems](
	[id] [int] NULL,
	[name] [varchar](20) NULL,
	[isComplete] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userAdmin]    Script Date: 09/10/2020 21:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userAdmin](
	[id] [int] NOT NULL,
	[email] [varchar](20) NULL,
	[password] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD FOREIGN KEY([timeId])
REFERENCES [dbo].[timings] ([id])
GO
ALTER TABLE [dbo].[timings]  WITH CHECK ADD FOREIGN KEY([name])
REFERENCES [dbo].[movie] ([name])
GO
ALTER TABLE [dbo].[userAdmin]  WITH CHECK ADD  CONSTRAINT [email_format] CHECK  (([email] like '%@%.%'))
GO
ALTER TABLE [dbo].[userAdmin] CHECK CONSTRAINT [email_format]
GO
USE [master]
GO
